$background-color: #f9ed69;
$title-color: #b83b5e;
$input-border-color: #ced4da;
$list-item-bg-color: #ffd66b;
$list-item-color: #b83b5e;
$button-color: #6a2c70;
$button-text-color: #fff;
$button-border-color: #000;
$display-done-bg-color: #54e346;

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  width: 100%;
  min-height: 100%;
  //   @include mq(768px) {
  //     font-size: 22px;
  //   }
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: $background-color;
  padding: 20px;
}

section {
  width: 90%;
  max-width: 700px;
  margin: auto;
}

::placeholder {
  font-size: 18px;
}

input[type="text"],
::placeholder {
  font-family: "Roboto Mono", monospace;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
