.newItemEntry {
  position: sticky;
  top: 0;
  margin-bottom: 1.5rem;

  .itemEntryForm {
    display: block;
  }

  label {
    position: absolute;
    left: -10000px;
  }

  input[type="text"] {
    width: 70%;
    height: 60px;
    border-radius: 8px;
    border: 2px solid $input-border-color;
    padding: 0.65rem;
    outline: none;
    font-size: 1.4rem;
  }

  input[type="text"]:hover,
  input[type="text"]:focus {
    box-shadow: 2px 2px 2px #000;
  }

  button {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}
